.images {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap; 
  width: 100vw; 
}

.images img {
  height: 10rem;
  width: auto; /* Adjust as needed to prevent stretching */
  max-width: 100%; /* Ensure it fits within the container */
  object-fit: cover; /* Maintain aspect ratio */
}


.images::-webkit-scrollbar {
  display: none;
}

/*uncomment below code to start the banner*/

/* @keyframes swipe {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-swipe {
  animation: swipe 10s linear infinite;
} */
